server {
	listen 80 default_server;
	server_name _;

{% if ansible_hostname in groups["prometheus"] %}
	location /prometheus {
		proxy_pass http://localhost:9090;
	}

    location /metrics {
		proxy_pass http://localhost:9100/metrics;
	}
{% endif %}
{% if ansible_hostname in groups["grafana"] %}
    location /grafana {
        proxy_set_header Host $http_host;
        proxy_pass http://localhost:{{ grafana_port }};
    }
{% endif %}
{% if ansible_hostname in groups["web_servers"] %}
	location / {
        proxy_set_header Host $http_host;
		proxy_pass http://localhost:{{ agama_port }};
	}
{% endif %}
}

server {
	listen 127.0.0.1:8080;
	server_name _;


    location = /stub_status {
        stub_status;
    }
}
