import requests
from pyquery import PyQuery

USERNAME = '{{ username }}'
SOURCE_LINK = f'http://193.40.156.67/students/{USERNAME}.html'
PATH_TO_HOSTS = 'hosts'
PATH_TO_IPS = './group_vars/ips.yaml'


def get_config_lines():
    response = requests.get(SOURCE_LINK)
    html = response.content

    pq = PyQuery(html)
    table = pq('table>tr>th')
    table = table.parent().items()
    for x in table:
        if x.html() == '<th>Name</th><th>Internal IP</th><th>Public SSH</th><th>Public URL</th><th>Public HA URL</th>':
            table = x
            break
    table = table.parent()
    table = table('tr>td:first-of-type').items()

    config_lines = []
    for x in table:
        if USERNAME in x.parent().html():
            config_lines.append(str(x.parent().html()))
    return config_lines


def process_config_lines(cl):
    params = []
    params2 = []
    hostnames = []
    params2.append('public_ip_addresses:\n')
    for line in cl:
        line = line.replace('<td>', '')
        data_array = line.split('</td>')
        hostname = data_array[0]
        ip = data_array[2].split(' ')[0].split('@')[1]
        port = data_array[2].split(' ')[-1]
        user = data_array[2].split(' ')[0].split('@')[0]
        param = f'{hostname} ansible_host={ip} ansible_port={port} ansible_user={user}\n'
        public_port = port[:-2] + '80'
        param2 = f'  {hostname}:\n    ip: {ip}\n    port: {public_port}\n'
        hostnames.append(hostname)
        params.append(param)
        params2.append(param2)
    params.append('\n[remote_hosts]\n')
    for host in hostnames:
        params.append(f'{host}\n')

    return params, params2


def write_params(params, path):
    with open(path, 'a') as f:
        for param in params:
            f.write(param)


def clear_file(path):
    with open(path, 'w') as f:
        f.write('')


def main():
    config_lines = get_config_lines()
    params, params2 = process_config_lines(config_lines)
    clear_file(PATH_TO_HOSTS)
    clear_file(PATH_TO_IPS)
    write_params(params, PATH_TO_HOSTS)
    write_params(params2, PATH_TO_IPS)


if __name__ == '__main__':
    main()

