acl trusted { {% for host in groups['remote_hosts'] %}{{ hostvars[host]['ansible_default_ipv4']['network'] }}/{{ hostvars[host]['ansible_default_ipv4']['prefix'] }}; {% endfor %}127.0.0.0/8; 172.17.0.0/16; };
key "transfer.key" {
        algorithm hmac-sha256;
        secret "{{ bind_secret }}";
};

key "rndc-key" {
        algorithm hmac-sha256;
        secret "{{ ns_update_key }}";
};

options {
    directory "/var/cache/bind";
    {%  if ansible_hostname in groups['dns_master'] %}also-notify { {% for hostname in groups['dns_slave'] %}{{ hostvars[hostname]['ansible_default_ipv4']['address'] }}; {% endfor %} };{% endif %}
    allow-query { trusted; };
    recursion yes;
    allow-recursion { trusted; };
    forwarders {
        8.8.8.8;
        8.8.4.4;
    };
};

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};

zone "{{ startup_name }}" {
    type {% if ansible_hostname in groups['dns_master'] %}master{% else %}slave{% endif %};
    file "/var/cache/bind/zones/{{ startup_name }}.db";
    {% if ansible_hostname in groups['dns_master'] %}allow-transfer { key "transfer.key"; };{% endif %}

    {% if ansible_hostname in groups['dns_master'] %}allow-update { key "rndc-key"; };{% endif %}
    {% if ansible_hostname in groups['dns_slave'] %}masters {
        {% for host in groups['dns_master'] %}
        {{ hostvars[host]['ansible_default_ipv4']['address'] }};{% endfor %}

    };{% endif %}

};

zone "168.192.in-addr.arpa" {
    type {% if ansible_hostname in groups['dns_master'] %}master{% else %}slave{% endif %};
    file "/var/cache/bind/zones/{{ startup_name }}.rev";
    {% if ansible_hostname in groups['dns_master'] %}allow-transfer { key "transfer.key"; };{% endif %}

    {% if ansible_hostname in groups['dns_master'] %}allow-update { key "rndc-key"; };{% endif %}
    {% if ansible_hostname in groups['dns_slave'] %}masters {
        {% for host in groups['dns_master'] %}
        {{ hostvars[host]['ansible_default_ipv4']['address'] }};{% endfor %}

    };{% endif %}

};

{% if ansible_hostname in groups['dns_slave'] %}
{% for host in groups['dns_master'] %}
server {{ hostvars[host]['ansible_default_ipv4']['address'] }} {
    keys { transfer.key; };
};
{% endfor %}
{% endif %}